
<div class="row" style="padding-bottom:10em">

  <div class="col-md-8" *ngIf="a">
    <h1>Александр Пушкин</h1>
    <h2>Анчар</h2>

    <p>
      В пустыне чахлой и скупой,<br />
      На почве, зноем раскаленной,<br />
      Анчар, как грозный часовой,<br />
      Стоит — один во всей вселенной.
    </p>
    <p>
      Природа жаждущих степей<br />
      Его в день гнева породила,<br />
      И зелень мертвую ветвей<br />
      И корни ядом напоила.
    </p>
    <p>
      Яд каплет сквозь его кору,<br />
      К полудню растопясь от зною,<br />
      И застывает ввечеру<br />
      Густой прозрачною смолою.
    </p>
    <p>
      К нему и птица не летит,<br />
      И тигр нейдет: лишь вихорь черный<br />
      На древо смерти набежит —<br />
      И мчится прочь, уже тлетворный.
    </p>
    <p>
      И если туча оросит,<br />
      Блуждая, лист его дремучий,<br />
      С его ветвей, уж ядовит,<br />
      Стекает дождь в песок горючий.
    </p>
    <p>
      Но человека человек<br />
      Послал к анчару властным взглядом,<br />
      И тот послушно в путь потек<br />
      И к утру возвратился с ядом.
    </p>
    <p>
      Принес он смертную смолу<br />
      Да ветвь с увядшими листами,<br />
      И пот по бледному челу<br />
      Струился хладными ручьями;
    </p>
    <p>
      Принес — и ослабел и лег<br />
      Под сводом шалаша на лыки,<br />
      И умер бедный раб у ног<br />
      Непобедимого владыки.
    </p>
    <p>
      А царь тем ядом напитал<br />
      Свои послушливые стрелы<br />
      И с ними гибель разослал<br />
      К соседям в чуждые пределы.<br />
    </p>

  </div>
  <div class="col-md-8" *ngIf="b">
    <!--hidden="hidden"-->
    <h1>Михаил Лермонтов</h1>
    <h2>Утес</h2>

    <p class="spin">
      Ночевала тучка золотая<br />
      На груди утеса-великана;<br />
      Утром в путь она умчалась рано,<br />
      По лазури весело играя;
    </p>
    <p class="c">
      Но остался влажный след в морщине<br />
      Старого утеса. Одиноко<br />
      Он стоит, задумался глубоко,<br />
      <b>И тихонько плачет он в пустыне.</b>
    </p>

  </div>
  <div class="col-md-8" *ngIf="c">    

    <p>
      На самом деле, я бы хотел извиниться, я лишь после вебинара заметил, что весь этот курс уже закончен. <br />
    </p>
    <p>
      Я работаю в вебдеве уже год, и в принципе, все эти вещи знаю, мне, правда, ближе бекенд, чем фронт, потому что
      дизайн - это дело вкуса, а мне по душе минимализм. Я бы хотел сделать какую-нибудь головоломку на сайте, но времени уже нет, потому что на работе дел куча, <br />
      даже сейчас мне было бы лучше заняться проектами на работе, чем писать этот текст. <br />
      Ваши лекции я просмотрел, где-то они были смешными (на моменте, что форумам осталось жить последние секунды), где-то грустными, потому что излишняя терминология убивала весь интерес. <br />
      Даже если я не пройду этот курс, ну, что же, мне не быть веб-дизайнером, пойду делать дотнет бекенд вместо пхп и вордпресса. <br />
      Надеюсь, у вас собрался ангуляр, чтобы посмотреть на всё то, что я не сделал. <br/>
      Если что, я даже запушил это в гит:
    </p>
    <a href=" https://github.com/Misvor/WebDevCourses"> https://github.com/Misvor/WebDevCourses</a>
    

  </div>
  <div class="col-md-4">

    <button class="btn btn-secondary" (click)="Choose('a')">А.С. Пушкин "Анчар"</button>
    <button class="btn btn-danger" (click)="Choose('b')">М.Ю. Лермонтов "Утес"</button>
    <button class="btn btn-primary" (click)="Choose('c')">Выбрать фоновый цвет</button>


  </div>
</div>
<style>
  p:first-letter {
    font-size:25px
  }
  p:hover{
    font-size:30px;
    font-family:'Comic Sans MS';
  }

  .spin {
    background-color:beige
  }

    .spin:hover {
      transform-origin: center;
      animation: spin 2s cubic-bezier(.56,.22,.51,.92) infinite;
      animation-fill-mode: forwards;
      -webkit-filter: hue-rotate(400deg);
    }
  @-webkit-keyframes typing {
    from {
      width: 0
    }

    to {
      width: 16.3em
    }
  }
  @keyframes spin {
    20% {
      transform: rotate(25deg);
      -webkit-filter: hue-rotate(40deg);
      font-size: x-large;
     
    }

    50% {
      transform: rotate(-25deg);
      -webkit-filter: hue-rotate(400deg);
      
      font-size: small;
    }

    65% {
      transform: rotate(0deg);
      -webkit-filter: hue-rotate(200deg);
      font-size: initial;
    }
  }

  @keyframes out {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

</style>
